#chart {
  position: relative;
  background: #000;
  width: 802px;
  height: 802px;
}

#chart div {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
  font-size: 11px;
  font-family: "Roadgeek 2005 Series D";
 }

#chart a {
  color: #fff;
}

#controls {
        position: absolute;
        top: 189px;
        left: 95px;
        width: 280px;
        height: 300px;
        text-align: center;
}

#controls-home {
        position: absolute;
        top: 550px;
        left: 278px;
        width: 250px;
        text-align: center;
}

#subcontrols {
        position: absolute;
        top: 284px;
        left: 398px;
        width: 250px;
        text-align: left;
        font-weight: normal;
}

#labels {
        position: absolute;
        top: 52px;
        left: 178px;
        width: 200px;
        text-align: right;
        font-weight: normal;
}


#chart div.big-instructions {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        color: #fff;
        font-weight: normal;
        line-height: 27px;
        margin-top: 2px;
        margin-left: 6px;
        padding-top: 3px;
}

#controls div.multiple-instructions {
        position: relative;
        width: 100%; 
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        line-height: 18px;
        font-weight: normal;
        margin-top: 16px;
        margin-left: 4px;
        white-space: nowrap;
        text-align: center;
}


#left-arrow {
        position: absolute;
        left: 0px;
        top: 110px;
        width: 0px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
}

#right-arrow {
        position: absolute;
        left: 265px;
        top: 110px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
        display: none;
}

.bullet-on {
        color: white;
        cursor: pointer;
        margin: 0px 3px;
}

.bullet-off {
        color: gray;
        cursor: pointer;
        margin: 0px 3px;
}

#chart div.small-instructions {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 16px;
        line-height: 18px;
        font-weight: normal;
        margin-top: 16px;
        margin-left: 4px;
        white-space: nowrap;
}

#chart div.subinstructions {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 16px;
        line-height: 46px;
        font-weight: normal;
        margin-top: 16px;
        margin-left: 4px;
        color: #fff;
}

#chart div.labels {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 41px;
        font-weight: normal;
        color: #fff;
        padding-right: 5px;
}

#readings {
        position: absolute;
        top: 68px;
        left: 392px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: #fff;
}

#chart div.label {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        font-weight: normal;
        color: #fff;
        height: 41px;
}

text {
  font: 10px sans-serif;
}

g text {
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        font-weight: normal;
}


div.actor { text-align: center; float: left;  width: 50px; height: 70px; overflow: hidden;}
img.actor-big { width: 160px; height: 160px; margin-bottom: 8px; background-color: #fff; overflow: hidden; }

.actor-home  {position: absolute; text-align: center; width: 50px; height: 70px; overflow: hidden;}

.actor-name         { width: 100px; text-align: center; font-weight: normal; color: #fff; }
.grouping {        
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        height: 65px;
        text-transform: uppercase;
        display: none;
}

.wrapper {        
        margin: 0px auto;
}


#chart div.categories { position: absolute; top: 461px; left: 180px; text-align: center; width: 680px; height: 100px; }
#chart div.category { text-align: center; width: 50px; position: relative; float: left; padding: 5px 4px; cursor: pointer; }

#chart .wrapper {        
        margin: 0px auto;
}
 
#chart div.tags { position: absolute; top: 545px; left: 180px; width: 680px; height: 50px; }
#chart span.tag { text-align: center; position: relative; padding: 3px 8px; margin: 12px 2px; background-color: #333;
	cursor: pointer;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

form {
  position: absolute;
  right: 44px;
  top: 10px;
}

.logo { position: absolute; top: 50px; left: 220px; height: 72px;}

#chart div.status {
        position: absolute;
        top: 150px;
        left: 0px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
}


#chart div.actors { position: absolute; top: 200px; left: 60px; height: 240px; width: 720px; overflow-x: hidden; }

p.actor-name {
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
    padding: 3px 0px 0px 0px;
    margin: 0px;
    height: 22px;
    display: cell;
    vertical-align: bottom;
    text-align: center;
}

.actor-grouping {  }

/* log in screen elements */
#login {
        position: absolute;
        top: 250px;
        left: 208px;
        width: 500px;
        text-align: left;
}

#login-form {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        color: #fff;
        font-weight: normal;

}

#login label {
        margin-right: 30px;
        line-height: 24px;
}

/* configure screen elements */
#settings {
        position: absolute;
        top: 120px;
        left: 60px;
        width: 800px;
        height: 700px;
        background-color: #000;
        text-align: left;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
}

#place-form {
        position: relative;
        top: 100px;
        left: 80px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        color: #fff;
        font-weight: normal;

}

#cloud-form {
        position: relative;
        top: 160px;
        left: 80px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        color: #fff;
        font-weight: normal;

}

.form-heading {
        font-family: "Monsterrat Regular";
        font-size: 26pt;
        line-height: 30px;
        margin-bottom: 5px;
}

#cloud-instructions {
		font-size: 12pt;
}