html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0px; }
#map-canvas { position: absolute; top: 125px; left: 80px; height: 500px; width: 600px; border: 9px solid #333; }
#closeme { position: absolute; top: 108px; left: 665px; z-index: 1000; }

#chart {
  position: relative;
  background: #000;
  width: 802px;
  height: 802px;
}

#chart div {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
  font-size: 11px;
  font-family: "Roadgeek 2005 Series D";
 }

#chart a {
  color: #fff;
}

#controls {
        position: absolute;
        top: 189px;
        left: 95px;
        width: 280px;
        height: 300px;
        text-align: center;
        overflow: hidden;
}

#controls-home {
        position: absolute;
        top: 550px;
        left: 278px;
        width: 250px;
        text-align: center;
}

#subcontrols {
        position: absolute;
        top: 284px;
        left: 398px;
        width: 250px;
        text-align: left;
        font-weight: normal;
}

#labels {
        position: absolute;
        top: 52px;
        left: 178px;
        width: 200px;
        text-align: right;
        font-weight: normal;
}


#chart div.big-instructions {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        color: #fff;
        font-weight: normal;
        line-height: 27px;
        margin-top: 2px;
        margin-left: 6px;
        padding-top: 3px;
}

#controls div.multiple-instructions {
        position: relative;
        width: 100%; 
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        line-height: 18px;
        font-weight: normal;
        margin-top: 16px;
        margin-left: 4px;
        white-space: nowrap;
        text-align: center;
}


#left-arrow {
        position: absolute;
        left: 0px;
        top: 110px;
        width: 0px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
        display: none;
}

#right-arrow {
        position: absolute;
        left: 265px;
        top: 110px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
}

.bullet-on {
        color: white;
        cursor: pointer;
        margin: 0px 3px;
}

.bullet-off {
        color: gray;
        cursor: pointer;
        margin: 0px 3px;
}

#chart div.small-instructions {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 16px;
        line-height: 18px;
        font-weight: normal;
        margin-top: 16px;
        margin-left: 4px;
        white-space: nowrap;
}

#chart div.subinstructions {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 16px;
        line-height: 46px;
        font-weight: normal;
        margin-top: 16px;
        margin-left: 4px;
        color: #fff;
}

#chart div.labels {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 41px;
        font-weight: normal;
        color: #fff;
        padding-right: 5px;
}

#readings {
        position: absolute;
        top: 68px;
        left: 392px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: #fff;
}

#chart div.label {
        position: relative;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        font-weight: normal;
        color: #fff;
        height: 41px;
}

text {
  font: 10px sans-serif;
}

.clickable-text { text-decoration: underline; cursor: pointer; }

g text {
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        font-weight: normal;
}


div.actor { text-align: center; float: left;  width: 50px; height: 70px; overflow: hidden;}
img.actor-big { width: 160px; height: 160px; margin-bottom: 8px; background-color: #fff; overflow: hidden; }

.actor-home  {position: absolute; text-align: center; width: 50px; height: 68px; overflow: hidden;}

.actor-name         { width: 100px; text-align: center; font-weight: normal; color: #fff; }
#toPopover  { cursor: pointer; }

.grouping {        
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        height: 65px;
        text-transform: uppercase;
        display: none;
}

.wrapper {        
        margin: 0px auto;
}


#chart div.categories { position: absolute; top: 461px; left: 60px; text-align: center; width: 720px; height: 100px; }
#chart div.category { text-align: center; width: 50px; position: relative; float: left; padding: 5px 4px; cursor: pointer; }

#chart .wrapper {        
        margin: 0px auto;
}
 
#chart div.tags { position: absolute; top: 545px; left: 180px; width: 500px; height: 50px; text-align: center; }
#chart span.tag { text-align: center; position: relative; padding: 3px 8px; margin: 12px 2px; background-color: #333;
	line-height: 28px; font-size: 14px; white-space: nowrap;
	cursor: pointer;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#chart div.apprentices { position: absolute; top: 570px; left: 180px; width: 500px; height: 20px; text-align: center; }

form {
  position: absolute;
  right: 44px;
  top: 10px;
}

.logo { position: absolute; top: 50px; left: 220px; height: 72px;}

#chart div.status {
        position: absolute;
        top: 150px;
        left: 0px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
}


#chart div.actors { position: absolute; top: 200px; left: 60px; height: 240px; width: 720px; overflow-x: hidden; }

#chart div#no-devices-placeholder {
    position: static;
}

#no-devices-placeholder h1 {
    color: green;
    text-align: center;
}

#no-devices-placeholder p {
    text-align: center;
    font-size: 1.4em;
}

p.actor-name {
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
    padding: 3px 0px 0px 0px;
    margin: 0px;
    height: 22px;
    display: cell;
    vertical-align: bottom;
    text-align: center;
}

.actor-grouping {  }

/* log in screen elements */
#login {
        position: absolute;
        left: 72px;
        width: 600px;
        height: 210px;
        text-align: center;
        font-family: 'Roadgeek 2005 Series C'; font-weight: normal;
}

.form-container-short { 
		background: url('popovers/assets/window.form.short.svg') no-repeat;
		width: 600px; 
		height: 200px; 
		padding: 30px; 
		margin: 20px auto;
}

#login form {
		width: 520px;
		margin: 20px 60px;
}

#login form img { margin: 0px 4px; }

.form-container table { width: 600px; }
table.short-form td { padding: 10px; font-size: 18px; text-align: left; }
table.cloud-table { width: 800px; margin-top: 20px; }
table.cloud-table td { vertical-align: top; }

.button-replica {font-family: 'Roadgeek 2005 Series D'; color: #6FCDF4; }

/* configure screen elements */

hr { border: 0; color: #333; background-color: #333; height: 4px; clear: both; margin-right: -10px; }

#settings {
        position: absolute;
        top: 120px;
        left: 0px;
        width: 780px;
        height: 700px;
        background-color: #000;
        text-align: left;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
}

#place-form {
        position: relative;
        top: 30px;
        left: 50px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        color: #fff;
        font-weight: normal;

}

#units-form {
        position: relative;
        top: 30px;
        left: 50px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        color: #fff;
        font-weight: normal;

}

#cloud-form {
        position: relative;
        top: 30px;
        left: 50px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        color: #fff;
        font-weight: normal;

}

#strict-form {
        position: relative;
        top: 30px;
        left: 50px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        color: #fff;
        font-weight: normal;

}

.big-instructions { font-size: 16pt; margin-top: 42px; }

label {
        font-family: "Roadgeek 2005 Series C";
        text-transform: uppercase;
        font-size: 12pt;
        line-height: 30px;
        margin-bottom: 5px;
        display: block;
}

input.formtext { width: 100%; background-color: #333; border: 2px #666 solid; padding: 3px; color: #999;         
		font-family: "Monsterrat Regular";
        font-size: 14pt;
 }

.formtext-container-left { width: 48%; float: left; margin-top: 10px; }
.formtext-container-right { width: 48%; float: right; margin-top: 10px; }

.form-heading {
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        line-height: 30px;
        margin-bottom: 5px;
		margin-top: 30px;        
		text-align: center;
		clear: both;
}

#units-instructions {
		font-size: 11pt;
}

#cloud-instructions {
		font-size: 9pt;
}

#lan-instructions {
		font-size: 11pt;
}

/* notification panel */

.notification {
		position: absolute;
		left: 100px;
		height: 32px;
		width: 675px;
		top: -32px;
		z-index: 1000;
		background-color: transparent;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        text-transform: uppercase;
}

.notification-text {
		color: #f00;
		float: right;
		margin: 6px 2px 2px 2px;
}

.notification-ok { float: right; margin: 4px 2px;
		text-align: center; position: relative; padding: 0px 5px; background-color: #f00;
		white-space: nowrap;
		cursor: pointer;
		text-transform: none;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
 }

/* reauthenticator panel */

#to-config {
    position: absolute;
    left: 8px;
    width: 16px;
    top: 3px;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}

.reauthenticator {
		position: absolute;
		left: 36px;
		height: 32px;
		width: 780px;
		top: 5px;
		background-color: transparent;
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        text-transform: uppercase;
}

.relogin { float: left; margin: 2px;
		text-align: center; position: relative !important; padding: 3px 8px; background-color: #333;
		white-space: nowrap;
		cursor: pointer;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
 }

.reauthenticator-text {
		color: #fff;
		float: left;
		height: 18px;
		margin: 2px 2px 2px -4px;
		text-align: center; position: relative !important; padding: 3px 8px; background-color: #000;
		white-space: nowrap;
		cursor: pointer;
}

/* apprentices panels */

#apprentice-backdrop {
  position: absolute;
  background: #000;
  width: 802px;
  height: 802px;
  top: 0px;
  text-align: center;
  color: white;
  font-size: 13pt;
  font-family: "Trebuchet MS";    
}

#apprentice-backdrop .form-heading {
		position: absolute;
		top: -40px;
		left: 5px;
		width: 800px;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
        line-height: 30px;
        margin-bottom: 5px;
		margin-top: 0px;        
		text-align: center;
		clear: both;
}

#apprentice-backdrop .big-instructions { position: relative; font-size: 16pt; margin-top: 42px; }

#apprentice-backdrop .apprentice-instructions {
	position: relative;
	font-size: 11pt;
	width: 800px; text-align: center; 
    font-family: "Monsterrat Regular";
}

#apprentice-backdrop .panes { 
        position: absolute;
        top: 30px;
        left: 50px;
		width: 700px; 
		margin: 0px auto; 
		padding-top: 10px;
		}
#apprentice-backdrop .panes-left  { position: relative; float: left; }
#apprentice-backdrop .panes-right { position: relative; float: right; }

#apprentice-backdrop .display-pane { position: relative;
		height: 34px; width: 332px; color: #69cef6; background:url('popovers/assets/display.svg') no-repeat; margin: 20px 0px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 15px;
        line-height: 36px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
		cursor: pointer;
 }

#apprentice-backdrop .label { padding: 0px 0px 0px 65px ; color: #69cef6; font-size: 15px; line-height: 36px; text-transform: uppercase; }
#apprentice-backdrop .label-disabled { padding: 0px 0px 0px 65px ; color: #666; }

#apprentice-backdrop .state { padding: 0px 20px 0px 0px ; color: #fcb040; font-size: 15px; float: right; text-transform: uppercase; }
#apprentice-backdrop .state-disabled { padding: 0px 20px 0px 0px ; color: #666; float: right; }

#apprentice-backdrop .small-label { 
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        z-index: 5;
}
    
#apprentice-backdrop .on-off-slider { top: 8px; left: 9px; }
#apprentice-backdrop .on-off-knob { top: 8px; left: 9px; z-index: 10 }
#apprentice-backdrop .on-label { top: 10px; left: 16px; color: #4bff69; text-transform: uppercase; display: none; }
#apprentice-backdrop .off-label { top: 10px; left: 28px; color: #ff4b4b; text-transform: uppercase; display: none; }


.apprentice-actors { position: absolute; top: 40px; left: 60px; height: 160px; width: 720px; overflow-x: hidden; }

.apprentice-actor-home  {
		position: absolute; 
		text-align: center; 
		width: 50px; 
		height: 68px; }
#apprentice-backdrop .actor-name  { font-family: "Roadgeek 2005 Series D"; font-size: 11px; }

#sub-pane-one {
        position: absolute;
        top: 180px;
        left: 0px;
        width: 780px;
        height: 700px;
        background-color: #000;
        text-align: left;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
}

#sub-pane-two {
        position: absolute;
        top: 170px;
        left: 0px;
        width: 780px;
        height: 700px;
        background-color: #000;
        text-align: left;
        font-family: "Monsterrat Regular";
        font-size: 20pt;
}

#sub-pane-two .action-button-group {
        position: absolute;
        top: 250px;
        left: 0px;
        width: 802px;
        text-align: center;
}


#sub-pane-two .action-button {height: 30px; margin: 5px; cursor: pointer}

/* voice panels */

#to-voice {
    position: absolute;
    left: 8px;
    width: 16px;
    top: 30px;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}

#chart div.voice-instructions-1 {
        position: absolute;
        top: 350px;
        left: 270px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        color: #fff;
        font-weight: normal;
        line-height: 27px;
        margin-top: 2px;
        margin-left: 6px;
        padding-top: 3px;
        text-align: center;
        width: 200px;
        height: 100px;
}

#chart .voice-instructions-2 {
        position: absolute;
        top: 160px;
        left: 170px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        color: #fff;
        font-weight: normal;
        line-height: 27px;
        margin-top: 2px;
        margin-left: 6px;
        padding-top: 3px;
        text-align: center;
        width: 400px;
        height: 50px;
}
#chart .voice-instructions-3 {
        position: absolute;
        top: 300px;
        left: 173px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        color: #fff;
        font-weight: normal;
        line-height: 27px;
        margin-top: 2px;
        margin-left: 6px;
        padding-top: 3px;
        text-align: center;
        width: 400px;
        height: 100px;
}

#chart .button-panel {
        position: absolute;
        top: 342px;
        left: 210px;
        width: 170px;
        height: 120px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 18px;
        color: #fff;
        font-weight: normal;
        line-height: 38px;
        margin-top: 2px;
        margin-left: 6px;
        padding-top: 3px;
        text-align: left;
}

#chart .appstore-panel {
        position: absolute;
        top: 342px;
        left: 410px;
        width: 170px;
        height: 120px;
}

#chart div.recognizer-panel-button { position: static; height: 35px; width: 170px; cursor: pointer; }

#instructions-cat { text-transform: capitalize; }

.voice-title { white-space: nowrap; }

#chart div.multiple-voice-instructions {
        width: 100%; 
        top: 30px;
        left: 0px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 17px;
        line-height: 15px;
        font-weight: normal;
        margin-top: 10px;
        white-space: nowrap;
        text-align: center;
        color: #00adee;
}

#chart div.enumerations-viewport {
        top: 56px;
        width: 400px;
        height: 360px;
        overflow-x: hidden;
        overflow-y: hidden;
}

#enumerations-tray {
        position: relative;
        top: 0px;
        width: 400px;
        left: 0px;
        vertical-align: top;
        table-layout: fixed;
}

td.enumeration-checkbox {
        text-align: center;
        padding: 0px; margin: 0px;
        text-transform: uppercase;
        position: static;
        height: 50px;
        width: 30px;
        overflow: hidden;
        vertical-align: top;
}

.enumeration-edit {
        font-family: "Roadgeek 2005 Series D";
        font-size: 24px;
        line-height: 46px;
        font-weight: normal;
        white-space: nowrap;
        text-align: center;
        padding: 0px; margin: 0px;
        text-transform: uppercase;
        position: static;
        height: 50px;
        width: 370px;
        overflow: hidden;
        vertical-align: top;
}

.voice-checkbox {position: relative; top: 13px; 
      -ms-transform: scale(1.75);
      -moz-transform: scale(1.75, 1.75);
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
}
.voice-checkbox-span {float: left}

.voice-category1 { position: absolute; top: 55px; left: 430px; cursor: pointer; }
.voice-category2 { position: absolute; top: 98px; left: 527px; cursor: pointer; }
.voice-category3 { position: absolute; top: 172px; left: 608px; cursor: pointer; }
.voice-category4 { position: absolute; top: 270px; left: 657px; cursor: pointer; }
.voice-category5 { position: absolute; top: 378px; left: 669px; cursor: pointer; }
.voice-category6 { position: absolute; top: 485px; left: 645px; cursor: pointer; }
.voice-category7 { position: absolute; top: 575px; left: 583px; cursor: pointer; }
.voice-category8 { position: absolute; top: 640px; left: 497px; cursor: pointer; }
.voice-category9 { position: absolute; top: 668px; left: 393px; cursor: pointer; }


.voice-slider { position: absolute; left: 128px; top: 205px; background-image: url('popovers/assets/voice-slider.svg'); width: 22px; height: 395px; }
.select-icon { position: absolute; left: 60px; background-color: #00adee; background-image: url('actors/lighting-downlight.svg');width: 45px; height: 45px; }

.download-interstitial { position: absolute; top: 610px; left: 330px; cursor: pointer; }
.download { position: absolute; top: 470px; left: 330px; cursor: pointer; }
