
#pop-substrate { position: absolute; top: 100px; left: 83px; width: 20px; height: 20px; }

.label { 
        font-family: "Roadgeek 2005 Series D";
        font-size: 18px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
}

.label-disabled { 
        font-family: "Roadgeek 2005 Series D";
        font-size: 18px;
        line-height: 16px;
        font-weight: normal;
        color: #444;
        text-transform: uppercase;
}

.label-padding { position: absolute; top: 12px; left: 11px; }
.small-label { 
        font-family: "Roadgeek 2005 Series D";
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: #666;
        text-transform: uppercase;
}

.popover-name { 
        position: absolute;
        top: 23px;
        left: 65px;
        font-family: "Roadgeek 2005 Series D";
        font-size: 26px;
        line-height: 26px;
        font-weight: normal;
        color: #fff;
        height: 26px;
        width: 400px;
        white-space: nowrap;
        text-overflow: clip;
        overflow: hidden;
}

.done-narrow { position: absolute; top: 24px; left: 400px; }
.done-wide { position: absolute; top: 24px; left: 520px; }

#primary-controls 
	{ position: absolute; top: 0px; left: 0px; width: 597px; height: 60px; z-index: 1px; }
	
	#actor { position: absolute; top: 14px; left: 15px; }
	#button-one-climate { position: absolute; top: 24px; left: 317px; }
	#button-two-climate { position: absolute; top: 24px; left: 383px; }
	#button-three-climate { position: absolute; top: 24px; left: 449px; }
	#button-four-climate { position: absolute; top: 24px; left: 515px; }

	
#on-off-slider-wrapper { position: absolute; top: 25px; left: 290px; }
	.on-off-slider { position: absolute; top: 0px; left: 25px; }
	.on-off-knob { position: absolute; top: 0px; left: 25px; }
	.on-label { position: absolute; top: 2px; left: 77px; }
	.off-label { position: absolute; top: 2px; left: 0px; }
		

#device-status-wrapper
	{ position: absolute; top: 60px; left: 0px; width: 597px; height: 60px; z-index: 1px; }

	#device-status { position: absolute; top: 18px; left: 156px; height: 30px; width: 146px; background:url('popovers/assets/slider.transparent.png'); background-position: -2px 0; }
	#device-status-label { position: absolute; top: 28px; left: 30px; }
    #device-status-detail { position: absolute; top: 28px; left: 163px; width: 130px; text-align: center}

/* Lighting */
#brightness-slider-wrapper
	{ position: absolute; top: 120px; left: 0px; width: 140px; height: 375px; z-index: 1px; }

	.slider { position: absolute; top: 43px; left: 54px; }
	.slider-knob { position: absolute; top: 310px; left: 50px; }
	.slider-grid { position: absolute; top: 51px; left: 45px; }
	.slider-label { position: absolute; top: 20px; left: 24px; }
	.slider-readout { position: absolute; top: 175px; left: 95px; padding: 1px; }
	

#color-temperature-slider-wrapper 
	{ position: absolute; top: 120px; left: 140px; width: 320px; height: 375px; z-index: 1px; }

	#cie-gamut { position: absolute; top: 175px; left: 150px; }
	#axis { position: absolute; top: 187px; left: 150px; }
	#y { position: absolute; top: 67px; left: 20px; }
	#x { position: absolute; top: 325px; left: 290px; }
	#rule-horizontal { position: absolute; top: 187px; left: 20px; }
	#rule-vertical { position: absolute; top: 207px; left: 196px; }
	#registration { position: absolute; top: 175px; left: 184px; }
	#cie-label { margin: 20px 0px 0px 20px; }


/* Media */
#metadata-wrapper { position: absolute;  top: 142px; left: 30px; width: 335px; height: 180px; text-transform: uppercase; text-overflow: ellipsis; }
	.now-playing-label { position: absolute; top: 0x; left: 10px; white-space: nowrap; }
	.display-album { position: absolute; top: 26px; left: 0px; height: 34px; width: 332px; color: #69cef6; background:url('popovers/assets/display.svg'); }
	.display-artist { position: absolute; top: 76px; left: 0px; height: 34px; width: 332px; color: #69cef6; background:url('popovers/assets/display.svg'); }
	.display-track { position: absolute; top: 124px; left: 0px; height: 34px; width: 332px; color: #69cef6; background:url('popovers/assets/display.svg'); }
	.display-album-disabled { position: absolute; top: 26px; left: 0px; height: 34px; width: 332px; color: #666; background:url('popovers/assets/display.svg'); }
	.display-artist-disabled { position: absolute; top: 76px; left: 0px; height: 34px; width: 332px; color: #666; background:url('popovers/assets/display.svg'); }
	.display-track-disabled { position: absolute; top: 124px; left: 0px; height: 34px; width: 332px; color: #666; background:url('popovers/assets/display.svg'); }

#volume-control-wrapper { position: absolute; top: 154px; left: 382px; }
	.volume-control-indicator { position: absolute; top: 0px; left: 0px; z-index: 100 }
	.volume-control-knob { position: absolute; top: 0px; left: 0px; }
	.volume-control-bkg { position: absolute; top: 0px; left: 0px; }

#track-progress { position: absolute;  top: 142px; left: 30px; width: 335px; height: 180px; }
	.track-progress { position: absolute; top: 342px; left: 40px; height: 30px; width: 520px;  background:url('popovers/assets/track-progress.svg'); }
	.track-progress-label { position: absolute; top: 322px; left: 40px; width: 200px; }
	.track-progress-knob { position: absolute; top: 2px; left: 0px; width: 14px; }

#media-controls-wrapper { position: absolute; top: 386px; left: 38px; width: 220px; height: 70px;  }
	.media-button-two { width: 63px; height: 63px; position: absolute; top: 0px; left: 0px; }
	.media-button-three { width: 63px; height: 63px; position: absolute; top: 0px; left: 75px; }
	.media-button-four { width: 63px; height: 63px; position: absolute; top: 0px; left: 150px; }
	img.media-button { width: 50px; }
	img.media-button-big { width: 63px; height: 63px; }

#equalizer { position: absolute; top: 345px; left: 258px; }

/* Climate */
#temperature-wrapper
	{ position: absolute; top: 55px; left: 0px; width: 597px; height: 60px; z-index: 1px; }
	.temperature { position: absolute; top: 20px; left: 210px; height: 24px; width: 360px; background:url('popovers/assets/slider.transparent.long.svg'); background-position: -5px -4px; }
	.temperature-label { position: absolute; top: 28px; left: 30px; }
	.temperature-knob { position: absolute; top: 4px; left: 0px; }
	.temperature-readout { position: absolute; top: 32px; left: 232px; padding: 1px; }

#fantime-slider-wrapper
	{ position: absolute; top: 125px; left: 15px; width: 140px; height: 375px; z-index: 1px; }

	.slider { position: absolute; top: 43px; left: 54px; }
	.fantime-slider-knob { position: absolute; top: 168px; left: 50px; }
	.slider-grid { position: absolute; top: 51px; left: 45px; }
	.fantime-slider-label { position: absolute; top: 20px; left: 32px; }
	.fantime-slider-readout { position: absolute; top: 175px; left: 15px; padding: 1px; }

#thermostat-wrapper { position: absolute; top: 154px; left: 212px; }
	.thermostat-knob { position: absolute; top: 0px; left: 0px; }
	.thermostat-bkg { position: absolute; top: 112px; left: 112px; }
	
#done-climate { position: absolute; top: 450px; left: 510px; }

/* Motive */

#hvac-wrapper-motive
	{ position: absolute; top: 62px; left: 0px; width: 597px; height: 60px; z-index: 1px; }
	#hvac-bracket { position: absolute; top: 38px; left: 24px; }
	#on-off-slider-motive { position: absolute; top: 24px; left: 53px; }
	#hvac-wrapper-motive #on-off-knob { position: absolute; top: 24px; left: 59px; }
	#on-label-motive { position: absolute; top: 26px; left: 100px; }
	#off-label-motive { position: absolute; top: 26px; left: 31px; }
	.temperature-motive { position: absolute; top: 19px; left: 130px; height: 24px; width: 135px; background:url('assets/slider.transparent.short.svg'); background-position: -5px -3px; }
	.temperature-readout-motive { position: absolute; top: 8px; left: 232px; font-family: "Roadgeek 2005 Series D"; font-size: 13px; line-height: 15px; }
	img.temperature-knob-motive { position: absolute; top: 5px; left: 30px; }

#sunroof-wrapper
	{ position: absolute; top: 62px; left: 285px; width: 312px; height: 60px; z-index: 1px; }
	#button-one { position: absolute; top: 24px; left: 4px; }
	#button-two { position: absolute; top: 24px; left: 68px; }
	#button-three { position: absolute; top: 24px; left: 152px; }
	#button-four { position: absolute; top: 24px; left: 216px; }
	#sunroof-bracket { position: absolute; top: 38px; left: -16px; }

#big-button-wrapper-motive { position: absolute; top: 124px; left: 0px; }
	#big-button-one-motive { position: absolute; top: 24px; left: 38px; }
	#big-button-two-motive { position: absolute; top: 24px; left: 225px; }
	#big-button-three-motive { position: absolute; top: 24px; left: 408px; }

#done-motive { position: absolute; top: 355px; left: 510px; }

/* Presence/Wearable */

#popover-name-wear { width: 336px; }

#big-button-wrapper-wear { position: absolute; top: 54px; left: 0px; }
	#big-button-one-wear { position: absolute; top: 24px; left: 38px; }
	#big-button-two-wear { position: absolute; top: 24px; left: 220px; width: 160px; }

#done-wear { position: absolute; top: 290px; left: 340px; }

/* Switch */

#level-status-wrapper-switch
	{ position: absolute; top: 61px; left: 0px; width: 597px; height: 60px; }
	.level-status-grid { position: absolute; top: 17px; left: 70px; }
	.level-status { position: absolute; top: 24px; left: 52px; }
	.level-status-label { position: absolute; top: 28px; left: 30px; color: #fff; }
	.level-status-label-disabled { position: absolute; top: 28px; left: 30px; color: #444; }
	.level-knob { position: absolute; top: 18px; left: 220px; }

#on-off-slider-wrapper-switch { position: absolute; top: 85px; left: 300px; }

.done-switch { position: absolute; top: 84px; left: 400px; z-index: 1; }

/* Flexi Color Picker */
/* Common stuff */

#colorpicker-container { position: absolute; top: 175px; left: 150px; width: 300px; }
.colorpicker-label { position: absolute; top: 140px; left: 159px; width: 270px; }

.picker-wrapper, 
.slide-wrapper {
    position: relative;
    float: left;
}
.picker-indicator,
.slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.picker,
.slide {
    cursor: pointer;
    float: left;
}

/* Skin */

.cp-skin {
    padding: 10px;
/*    background-color: #C5F7EA; */
    background: -webkit-linear-gradient(top, #aaa 0%, #222 100%);   
    float: left;
    border: 1px solid #999;
    box-shadow: inset 0 0 10px white;
}
.cp-skin .picker {
    width: 235px;
    height: 270px;
}
.cp-skin .slide {
    width: 30px;
    height: 270px;
}
.cp-skin .slide-wrapper {
    margin-left: 10px;
}
.cp-skin .picker-indicator {
    width: 24px;
    height: 24px;
    background-image: url(popovers/assets/registration.svg);
}
.cp-skin .slide-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid lightblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}
